{% extends "adminhead.html" %}
{% load static %}
{% block content %}


<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
        <h3>Add State</h3>
        
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
            <div class="form-panel">
                <form class="form-horizontal style-form" method="post" name="myForm" onsubmit="return validateForm();"
                 action="{% url 'Add_state' %}">
                 {% csrf_token %}
                    <div class="form-group" >
                        <label class="col-sm-12 control-label">State</label>
                        <div class="col-sm-4">
                            <input type="text" name="state" class="form-control" required>
                        </div>
                    </div>
                    <button  type="submit" name="submit" class="btn btn-theme">Submit</button>
                   </form>
            </div>
            </div>			
        </div>
    </section>
</section>
      {% endblock %}
