{% extends "adminhead.html" %}
{% load static %}
{% block content %}
<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
        <h3>Add District</h3>
        <div class="row mt">
            <div class="col-lg-12">
            <div class="form-panel">
                <form class="form-horizontal style-form" method="post" name="myForm" onsubmit="return validateForm();" action="{% url 'add_district' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-12 control-label">State</label>
                        <div class="col-sm-4">
                           <select class="form-control" name="state" id="state" onchange="sh(this.value)" required>>
                           <option value=" ">--Select--</option>
                           {% for d in data %}
								 <option value="{{d.state_id}}">{{d.state}}</option>
								{% endfor %}

                           </select>
                        </div>
                    </div>
                     <div class="form-group" >
                        <label class="col-sm-12 control-label">District</label>
                        <div class="col-sm-4">
                        <input type="text" name="district" class="form-control" required>
                        </div>
                    </div>
                    <button  type="submit"  name="submit"class="btn btn-theme">Submit</button>
                   </form>
            </div>
            </div>		
        </div>
      </section>
      </section>
<script type="text/javascript">
        function sh(st)
    {
        
    var x=new XMLHttpRequest();
    x.onreadystatechange=function(){
    
    if(x.readyState==4&&x.status==200)
    {
    
    document.getElementById('id').innerHTML=x.responseText;
    }
    };
    
    x.open("GET","getDistrict/?id="+st,true);
    
    x.send();
    
    }
    </script>
<script>
        function validateForm()
 {
 var x=document.forms["myForm"]["district"].value;
 var letters = /^[A-Z a-z ]+$/;
 if(!x.match(letters))
 {
         alert("District should be Aphabet");
         return false;
 }
 }
 </script>
{% endblock %}