{% extends "hotelhead.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!--grid-->

<div class="row">
<div class="col-md-12 ">
 <h3 class="text-primary">our orders</h3>
 
   <div class="col-md-12">
    <table class="table table-responsive table-striped">
      <tr>
        <th>Sl. No.</th> <th>User Details</th> <th>order no.</th> <th> order date</th> <th> total amount</th> <th> status </th> <th> Items </th>
        </tr>
  {% for d in data %}
  <tr>
    <td>{{ forloop.counter }} </td>
    <td>{{d.user.username}}<br>
      {{d.user.useraddress}}<br>
      {{d.user.phoneno}}</td>
    
    <td>{{d.billno}}</td><td>{{d.date}}</td>
    <td>{{d.total}}</td><td>{{d.order_status}}</td>
    <td><a href="{% url 'myorder2' %}?id={{d.billno}}" class="btn btn-info btn-xs">View</a>
    {% if d.order_status == "waiting" %}
      <a href="{% url 'updateorder' %}?id={{d.billno}}" class="btn btn-success btn-xs">update status</a></td>
{% endif %}

    </tr>
     
     
     {% endfor %}
</table>
  
                     
   
     
       </div>
       </div>
       </div>
       

{% endblock %}