{% extends "adminhead.html" %}
{% load static %}
{% block content %}
<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
        <h3>New Bookings</h3>
            <div class="row mt">
                <div class="col-lg-10">
                <div class="content-panel" style="padding: 10px 10px;">
                     
                    <section id="unseen">
                      <table class="table table-bordered table-striped table-condensed" style="width:100%;">
                        <thead>
                        <tr>
                        <th>Sl:No</th>
                         <th>Pickup</th>
                         <th>Destination</th>
                        <th>Travel Date</th>
                        <th>Travel Time</th>
                       <th>Booking Date</th>
                       
                       <th>User number</th>
                        <th>Action</th>
                        </tr>
  </thead>
  <tbody>
    {% for d in data %}
      <tr>
    <td>{{forloop.counter}}</td>

    <td>{{d.pickup_point}}</td>
    <td>{{d.destination_point}}</td>
    <td>{{d.travel_time}}</td>
    
    
    <td>{{d.travel_date}}</td>
    <td>{{d.booking_date}}</td>
    
   
    <td>{{d.userid.phoneno}}</td>



 
                            <td><div class="btn-group">
  <button type="button" class="btn btn-info btn-flat">Action</button>
  <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              <li>
<li><a data-toggle="modal" data-target="#comp-{{d.booking_id}}" href="#"><i class="fa fa-check"></i> Allot</a></li>
<li><a data-toggle="modal" data-target="#reject-{{d.booking_id}}" href="#"><i class="fa fa-ban"></i> Reject</a></li>	
                                
                                </ul>
                                </div>
                                                  </td>
  
</div>

<div class="modal fade" id="comp-{{d.booking_id}}" role="dialog" >
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  <h4 class="modal-title custom_align" id="Heading">Allot taxi</h4>
</div>
   <div class="modal-body">
   <br>
   <h3 class="modal-title custom_align" id="Heading" style="color: #333">Are you sure want to approve this booking?</h3>
   <br>
    <form class="form-horizontal" method="post" action="{% url 'approved_taxi' %}">
        {% csrf_token %} 
   
     <input type="hidden" class="form-control"  value="{{d.booking_id}}"  name="booking_id" >
       <!--input type="hidden" class="form-control"  value="echo $row['bl_amt']?>"  name="amount"!-->		   
   
    
    <!--<div class="box-content">
      <div class="col-md-10 col-md-offset-2">
        <div class="col-md-5">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" class="form-control" value="{{d.taxiid.name}}" readonly
              required>
          </div>

          <div class="form-group">
            <label for="">Job Category</label>
            <input type="text" name="Category" class="form-control" value="{{d.taxiid.category}}"
              readonly required>
          </div>
         





          <div class="form-group">
            <label for="">Address</label>
            <textarea type="text" rows="3" class="form-control" name="addr"
              readonly>{{d.taxiid.address}}</textarea>
          </div>
          <div class="form-group">
            <label for="">Aadhar</label>
            <input type="text" class="form-control" name="qul" value="{{d.taxiid.aadhaar_no}}"
              readonly>
          </div>
          <div class="form-group">
            <label for="">Phone Number</label>
            <input type="text" class="form-control" name="phone" value="{{d.taxiid.phone_no}}"
              readonly>
          </div>


          <div class="col-md-5">
            <div class="form-group">
              <label for=""> Staff Photo</label>
              <img src="../media/{{d.taxiid.photo}}" alt="" height="100" width="100"
                style="margin-right:450px;" />
            </div>
           


            <div class="form-group">
              <label for="">Email Id</label>
              <input type="text" class="form-control" name="mail" value="{{d.taxiid.email}}" readonly>
            </div>
          </div>
        </div>-->


  <button name="delete" type="submit" class="btn btn-success" ><span class="glyphicon 
  glyphicon-ok-sign"></span> Submit</button>
<button type="reset" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                      
</div>								
</div>

</form>

   <div class="modal-footer ">
  
</div> 
  </div>

<!-- /.modal-content --> 
</div>
</div>



<div class="modal fade" id="reject-{{d.booking_id}}" role="dialog" >
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  <h4 class="modal-title custom_align" id="Heading">Reject Task</h4>
</div>
   <div class="modal-body">
    <form class="form-horizontal" method="post" name="myForm" onsubmit="return validateForm();" action="{% url 'taxibookDelete' %}">
        {% csrf_token %}
   <input type="hidden" class="form-control"  value="{{d.booking_id}}"  name="booking_id"> 
    
   <div class="box-content">
   <div class="col-md-12">
    <h3 class="modal-title custom_align" id="Heading" style="color: #333">Are you sure want to reject this Job?</h3>
                              </div>
                              <br><br><br>
<button name="edit" type="submit" class="btn btn-success" ><span class="glyphicon 
  glyphicon-ok-sign"></span>Submit</button>
<button type="reset" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
                          </div> 
</div>								
</div>

</form>
   <div class="modal-footer ">
  
</div> 
  </div>
<!-- /.modal-content --> 
</div>


  
</div>

                        </tr>
                        {% endfor %}								
                      </tbody>
                    </table>
                    </section>
            </div><!-- /content-panel -->
         </div><!-- /col-lg-4 -->	
        </div><!-- /row -->
      </section>
  </section>
 
  {% endblock %}