{% extends "adminhead.html" %}
{% load static %}
{% block content %}
<section id="main-content">
  <section class="wrapper" style="min-height: 93vh">
    <h3>Staff Complaints List</h3>
    <div class="row mt">
      <div class="col-lg-10">
        <div class="content-panel" style="padding: 10px 10px;">

          <section id="unseen">
            <form name="f1" method="post" action="{% url 'staff_complaints' %}">
              {% csrf_token %}
              <table class="table table-bordered table-striped table-condensed" style="width: 500px">
                <tr>
                  <td>SELECT CATEGORY</td>
                  <td>
                    <select name="search_cat">
                      <option value="">--Select--</option>
                      <!-- Add other options here -->
                    </select>
                  </td>
                  <td><input type="submit" name="sub" value="search" /></td>
                </tr>
              </table>
            </form>

            <table class="table table-bordered table-striped table-condensed" style="width: 100%">
              <thead>
                <tr>
                  <th>Sl:No</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Phone No</th>
                  <th>Email Id</th>
                  <th>Number of Complaints</th>
                  <th>Blacklisted</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for staff in staff_data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><img src="../media/{{staff.photo}}" alt="" height="50" width="70" /></td>
                  <td>{{ staff.name }}</td>
                  <td>{{ staff.category }}</td>
                  <td>{{ staff.phone_no }}</td>
                  <td>{{ staff.email }}</td>
                  <td>{{ staff.num_complaints }}</td>
                  <td>{{ staff.blacklisted|yesno:"Yes,No" }}</td>
                  {% if staff.blacklisted %}
                    <td><a class="btn btn-warning" href="{% url 'remove_blacklist' staff.staff_id %}">Remove from Blacklist</a></td>
                  {% else %}
                  <td><a class="btn btn-danger" href="{% url 'make_blacklist' staff.staff_id %}">Mark as Blacklisted</a></td>
                  {% endif %}
                </tr>
                <div class="modal fade" id="delete-{{ staff.staff_id }}" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Delete Staff</h4>
                      </div>
                      <div class="modal-body">
                        <br>
                        <h3 class="modal-title custom_align" id="Heading" style="margin-left:200px;color:#555">Are You Sure You Want to Delete This Staff?</h3>
                        <br>
                        <form class="form-horizontal" method="post" name="myForm" action="{% url 'delete_staff' %}">
                          {% csrf_token %}
                          <input type="hidden" class="form-control" value="{{ staff.staff_id }}" name="id">
                          <div class="box-content">
                            <button name="delete" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span>Submit</button>
                            <button type="reset" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>No</button>
                          </div>
                        </form>
                        <div class="modal-footer "></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </section>
        </div><!-- /content-panel -->
      </div><!-- /col-lg-4 -->
      <div style="height:530px;"></div>
    </div><!-- /row -->
  </section>
</section>
{% endblock %}
